
##############################################################
#                 (c) Jippe Heijnen 2019                     #
#                                                            #
#   Distributed under the GNU General Public License v3.0.   #
#   (See accompanying file LICENSE.txt or copy at            #
#   https://www.gnu.org/licenses/gpl-3.0.nl.html)            #
##############################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# random
/test
/run.save
/src/main/makefile
/Doxygen

